<div class="watch">
    <div class="watch_image">
        <img src="<%IMAGE%>" alt="<%NAME%>"/>
    </div>

    <div class="watch_name">
        <a href="/watch?id=<%ID%>"> <%NAME%> </a>
    </div>

    <div class="watch_rating">
        <span class="fa fa-star <%START%>"></span>
        <span class="fa fa-star <%START%>"></span>
        <span class="fa fa-star <%START%>"></span>
        <span class="fa fa-star <%START%>"></span>
        <span class="fa fa-star <%START%>"></span>
    </div>

    <div class="watch_price">
        <p class="current_price"><%NEWPRICE%></p>
        <p class="old_price"><%OLDPRICE%></p>
    </div>

    <%DISCOUNTRATE%>

</div>