<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel ="stylesheet" href="/index.css" />
    <title>The Watch Shop</title>
</head>

<body>
    <div class="container">
        <nav>
            <header>
                <h1>The Watch Shop</h1>
            </header>
        </nav>

        <div class="singleWatch">
            <div class="singleWatch_img">
                <img src="<%IMAGE%>" alt="<%NAME%>" />
            </div>

            <div class="singleWatch_info">
                <div class="singleWatch_name">
                    <p><%NAME%></p>
                </div>
                
                <div class="singleWatch_price">
                    <p><%NEWPRICE%></p>
                </div>

                <div class="singleWatch_desc">
                    <p>
                        A watch is a portable timepiece intended to be carried or worn by a person.
                        It is designed to keep a consistent movement despite the motions caused by the person's activities. 
                    </p>

                </div>

                <div class="goBack">
                    <a href="/">
                      <svg class="icon icon-arrow">
                        <use xlink:href="./images/icons.svg#icon-arrow"></use>
                      </svg>
                    </a>
                </div>
                
            </div>
        
        </div>
    </div>

</body>
</html>